.calendar-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

.calendar-colum {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 0px;
}

.calendar-date {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.calendar-day {
    font-size: 1.0em;
}

.calendar-clock-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.calendar-clock-icon-container img {
    width: 50px;
    height: 50px;
}

.calendar-table {
    display: flex;
    flex-direction: column;
}

.calendar-cell {
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    box-sizing: border-box;
}