.team-view-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.team-view-left {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 10px;
}

.team-view-right {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 10px;
}