@{
    ViewData["Title"] = "Metrics";
}

@model SchedulerDotNet.Models.MetricsViewModel

@section Scripts {
    <script src="~/js/metrics-hours-worked-chart.js"></script>
}

<div class="team-view-container">
    <!--Left Section (User Profile Stamp)-->
    <div class="team-view-left">
        @await Html.PartialAsync("_ProfileStamp", Model?.ProfileStamp)
    </div>
    <!--Right Section (User Metrics)-->
    <div class="team-view-right">
        @await Html.PartialAsync("_Descriptor", Model?.OverviewDescriptor)
        <div class="row mt-3">
            <div class="col-md-4 mb-3">
                @await Html.PartialAsync("_MetricStamp", Model?.ConsecutiveDaysMetricStamp)
            </div>
            <div class="col-md-4 mb-3">
                @await Html.PartialAsync("_MetricStamp", Model?.AvailableHoursMetricStamp)
            </div>
            <div class="col-md-4 mb-3">
                @await Html.PartialAsync("_MetricStamp", Model?.MonthsWorkedMetricStamp)
            </div>
        </div>  
        <!-- Hours Worked -->
        @await Html.PartialAsync("_Descriptor", Model?.HoursWorkedDescriptor)
        <div class="chart-container" style="position: relative; height: 40vh; width: 80vw">
            <canvas id="metricsHoursWorkedChart"></canvas>
        </div>
    </div>
</div>
