@{
    ViewData["Title"] = "Team";
}

@model SchedulerDotNet.Models.TeamViewModel

<div class="team-view-container">
    <!--Left Section (Team Manager)-->
    <div class="team-view-left">
        @for (int i = 0; i < Model?.Users.Count(); i++)
        {
            @if (Model?.Users[i].Title == "Manager")
            {
                @await Html.PartialAsync("_ProfileStamp", Model.ProfileStamps[i])
            }
        }
    </div>
    <!--Right Section (Team Members)-->
    <div class="team-view-right">
        @await Html.PartialAsync("_Descriptor", Model?.Descriptor)
        <div class="row mt-3">
            @for (int i = 0; i < Model?.ProfileStamps.Count(); i++)
            {
                <div class="col-md-4 mb-3">
                    @await Html.PartialAsync("_ProfileStamp", Model.ProfileStamps[i])
                </div>
                @if ((i + 1) % 3 == 0)
                {
                    <div class="row mt-3">
                    </div>
                }
            }
        </div>       
    </div>
</div>
