@model List<Scheduler.Core.Models.CalendarDayViewModel>

<link rel="stylesheet" href="~/css/calendar.css?v=@DateTime.Now.Ticks" />

<div class="calendar-row">
    <div class="calendar-column">
        <div class="calendar-date">
            <div class="calendar-clock-icon-container">
                <img src="~/images/clock.png" alt="Icon" />
            </div>
        </div>              
    </div>
    @foreach (var day in Model)
    {
        <div class="calendar-colum">
            <div class="calendar-date">@day.DayNumber</div>
            <div class="calendar-day">@day.DayName</div>
            <div class="calendar-table">
                @for (int i = 0; i < 10; i++)
                {
                    <div class="calendar-cell">Test</div>
                }
            </div>
        </div>
    }
</div>