@model SchedulerDotNet.Models.DescriptorViewModel

<link rel="stylesheet" href="~/css/descriptor.css" />

<div class="descriptor-container">
    <div class="description-title">@Model.Title</div>
    <div class="descriptor-description">@Model.Description</div>
</div>