@model SchedulerDotNet.Models.LegendItemViewModel

<div class="legend-item">
    <div class="legend-item-square @Model.BackgroundColorClass"></div>
    <div class="legend-item-text">@Model.Text</div>
</div>